<div>
    <form>
        <label for="post-title">Title</label>
        <input type="text" name="post-title" id="post-title">
        <br>
        <textarea name="post-title" id="postContent" cols="50" rows="25"></textarea>
        <br>
        <input type="submit" id="postFormSubmit" name="formSubmit" value="Submit">
        <br>
    </form>
</div> 

<script src="/js/post.js"></script>