<div>
    <form>
        <label for="user-name">Username:</label>
        <input type="text" id="user-name" />
        <label for="user-name">Email:</label>
        <input type="text" id="user-email" />
        <label for="user-password">Password:</label>
        <input type="password" id="user-password" />
        <input type="submit" id="postFormSubmit" name="formSubmit" value="Submit">

    </form>
</div>

<script src="/js/accountCreation.js"></script>